.sidebar>div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar img{
    width: 2rem;
    height: 2rem;
}

.sidebar{
    background-color: skyblue;
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 1.5rem;
}

.dashboard img{
    width: 3rem;
    height: 3rem;
}

.dashboard p{
    font-size: 1.7rem;
}

.dashboard,.communities{
    margin-bottom: 2rem;
}
