body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar>div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar img{
    width: 2rem;
    height: 2rem;
}

.sidebar{
    background-color: #00bbff;
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    padding: 1.5rem;
    grid-row: 1/3;
}

.dashboard img{
    width: 3rem;
    height: 3rem;
}

.dashboard p{
    font-size: 1.7rem;
}

.dashboard,.communities{
    margin-bottom: 2rem;
}

.header img{
    width: 2rem;
    height: 2rem;
}

.header{
    padding: 1rem;
    z-index: 100;
    box-shadow: 0px 8px 6px -6px grey;
    grid-column: 2/3;
    grid-row: 1/2;
}

.header-1{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.search-icon{
    margin-left: 1rem;
}

.header-1 input{
    border-radius: 1rem;
    border:solid rgb(220, 226, 231);
    background-color: rgb(220, 226, 231);
    width: 35rem;
}

.header-1 p{
    font-size: 1.2rem;
    font-weight: 800;
}

.header-1-right{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-2{
    display: flex;
    align-items: center;
    font-weight: 800;
    padding: 1rem;
}

.header-2 img{
    width: 5rem;
    height: 5rem;
    margin-right: 0px;
}

.header-2-text-2{
    font-size: 1.6rem;
}

ul>li{
    list-style-type: none;
}

.header-2-text{
    margin-left: 0px;
}

.header-buttons{
    margin-left: auto;
}

.header-buttons button{
    margin-right: 1rem;
    border-radius: 1rem;
    border: solid #00bbff;
    font-size: 1rem;
    font-weight: 800;
    width: 7rem;
    height: 2rem;
    background-color: #00bbff;
    color: white;
}

.main{
    background-color: rgb(220, 226, 231);
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 0.5fr;
}

.projects{
    padding: 1rem;
    grid-column: 1/2;
    grid-row: 1/3;
}

.project-heading, .announcements-heading, .trending-heading{
    font-size: 1.2rem;
    font-weight: 800;
}

.project-card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.project-card img{
    width: 1.5rem;
    height: 1.5rem;
}

.project-card{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    background-color: white;
    color: grey;
    width: 30rem;
    height: 16rem;
    font-size: 1.1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border-left: 0.5rem solid sandybrown;
}

.project-card-heading{
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0;
}

.project-card p:nth-child(2){
    margin-top: 0;
}

.project-card-icons{
    align-self: end;
    display: flex;
    gap: 1.5rem;
    justify-content: end;
}

.announcements{
    padding: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.announcements-card{
    background-color: white;
    color: grey;
    border-radius: 0.5rem;
    padding: 2rem;
    font-size: 0.9rem;
}

.announcements-card-heading{
    color: black;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 0.2rem;
}


.trending{
    padding: 1rem;
    grid-column: 2/3;
    grid-row: 2/3;
}

.trending-profile img{
    width: 3rem;
    height: 3rem;
}

.trending-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
}

.trending-text p:nth-child(2){
    color: grey;
    margin-top: 0;
}

.trending-text p:nth-child(1){
    margin-bottom: 0;
}
